<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <!-- ng-model equivalente ao 2 way data binding -->
            <!-- Caso a propiedade não tenha sido criada no scope o Angular cria por você -->
            <input ng-model="filtro" ng-model-options="{debounce:500}" class="form-control" placeholder="Filtrar" />
        </form>
    </div>
</div>
<div class="row">
    <!-- Diretiva equivalente ao ng-for -->
    <!-- Usando o pipe eu consigo dizer que ele deve usar um filter e passar em qual valor esse
        filtro será baseado -->
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
    </meu-painel>
</div>